<?xml version="1.0" encoding="UTF-8" ?>
<config>
  <Bricks count="1">
    <Brick>
      <Coordinates>
        <Point>
          <x>141,944</x>
          <y>37,403</y>
        </Point>
        <Point>
          <x>142,422</x>
          <y>39,14</y>
        </Point>
        <Point>
          <x>142,433</x>
          <y>37,21</y>
        </Point>
        <Point>
          <x>142,911</x>
          <y>38,947</y>
        </Point>
      </Coordinates>
      <Scenario stepq="1">
        <Step>
          <StartTime>20</StartTime>
          <FinishTime>50</FinishTime>
          <Height>15</Height>
        </Step>
      </Scenario>
    </Brick>
  </Bricks>
  <ObservationPoints count="2">
    <Point>
      <x>273,608</x>
      <y>-17,975</y>
    </Point>
    <Point>
      <x>80,42</x>
      <y>13,10</y>
    </Point>
  </ObservationPoints>
</config>